<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
<div th:replace="~{nav.html::navbar}" class="nav"></div>
<div class="detail">
    <h4>상세페이지</h4>
    <img th:src="${item.imgUrl != null ? item.imgUrl: 'https://placehold.co/300'}">
    <h4 th:text="${item.title}"></h4>
    <p th:text="${item.price + '원'}"></p>
</div>
    <input type="number" min="1" class="count" value="1">
<button th:onclick='order([[${item}]])'>주문하기</button>
<div class="comments-section">
    <h2>댓글</h2>
    <th:block th:if="${#lists.size(comment) > 0}">
        <div class="comment" th:each="comment : ${comment}">
            <div class="comment-header">
                <span class="comment-username" th:text="${comment.username}"></span>
            </div>
            <p class="comment-text" th:text="${comment.content}"></p>
        </div>
    </th:block>
    <th:block th:if="${#lists.size(comment) == 0}">댓글이 없습니다</th:block>
    <form th:action="@{'/comment/'+${item.id}}" class="comment-form" method="post">
        <textarea placeholder="여기에 댓글을 작성해주세요" rows="4" name="content"></textarea>
        <button type="submit">작성하기</button>
    </form>
</div>
    <script>
        function order(item) {
            fetch(`/order/${item.id}`, {
                method: 'POST',
                headers : {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({
                    item_name : item.title,
                    price: item.price,
                    count: document.querySelector('.count').value
                })
            })
        }
    </script>
</body>
</html>