<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
<div th:replace="~{nav.html::navbar}" class="nav"></div>
    <form action="/search" method="post" style="display: flex">
        <input type="text" name="searchText">
        <button>검색</button>
    </form>
<div class="card"  th:each="item : ${items}">
    <img th:src="${item.imgUrl != null ? item.imgUrl: 'https://placehold.co/300'}">
    <div>
        <a th:text="${item.title}" th:href="@{'/detail/'+${item.id}}"></a>
        <p th:text="${item.price}"></p>
        <a th:href="@{'/edit/'+${item.id}}">✏️</a>
        <span class="delete" th:onclick="deleteItem([[${item.id}]])">🗑️</span>
        <p th:text="${item.username}"></p>
    </div>
</div>
    <th:block th:if="${totalPage != null}">
        <div class="pages">
            <th:block th:each="num : ${#numbers.sequence(1, totalPage)}">
                <a th:text="${num}" th:href="${num}" class="pageNum" onclick="pageClick"></a>
            </th:block>
        </div>
    </th:block>
<script th:inline="javascript">
    function deleteItem(id) {
        fetch(`/delete?id=${id}`, {
            method: 'DELETE',
        }).then(res => res.text())
            .then(()=>{
                location.reload()
            })
    }

    function pageClick(e){
        console.log(e)
    }
</script>
</body>
</html>