<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="/main.css">
</head>
<body>
<div th:replace="~{nav.html::navbar}" class="nav"></div>
<div th:if="${param.error}">
  <h4>아이디나 비번 틀림</h4>
</div>
<form action="/signin" method="post">
  <input type="text" name="username">
  <input type="password" name="password">
  <button type="submit">전송</button>
</form>
</body>
</html>